# Connection string using postgreSQL pgAdmin

In [1]:
# Install IPython PostgreSQL
!pip install ipython-sql
import pandas as pd
from config import db_password
import psycopg2

Requirement already satisfied: ipython-sql in c:\users\dixie\anaconda3\envs\pythondata\lib\site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\dixie\anaconda3\envs\pythondata\lib\site-packages (from ipython-sql) (1.3.20)
Requirement already satisfied: six in c:\users\dixie\anaconda3\envs\pythondata\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prettytable<1 in c:\users\dixie\anaconda3\envs\pythondata\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\dixie\anaconda3\envs\pythondata\lib\site-packages (from ipython-sql) (7.19.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\dixie\anaconda3\envs\pythondata\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\dixie\anaconda3\envs\pythondata\lib\site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: decorator in c:\users\dixie\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\dixie\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: pickleshare in c:\users\dixie\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\dixie\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\dixie\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (50.3.1.post20201107)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\dixie\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pygments in c:\users\dixie\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (2.7.2)
Requirement already satisfied: jedi>=0.10 in c:\users\dixie\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: backcall in c:\users\dixie\anaconda3\envs\pythondata\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\dixie\anaconda3\envs\pythondata\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\dixie\anaconda3\envs\pythondata\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)

In [2]:
# Load ipython-sql (magic command)
%load_ext sql

In [3]:
# defind connection string
connection_string = f"postgresql://postgres:{db_password}@localhost/FHD_Heart_Predictor"

In [4]:
# from postgres to connection string
%sql $connection_string

In [5]:
# SQL Commands

In [6]:
%%sql
SELECT * from complete_datasets LIMIT 5

 * postgresql://postgres:***@localhost/FHD_Heart_Predictor
5 rows affected.

[(0, 46, 2.0, 0, 0.0, 0.0, 0, 0, 0, 250.0, 'High', 121.0, 81.0, 'Elevated', 28.73, 'Overweight', 95.0, 76.0, 'normal', 0),
 (1, 61, 3.0, 1, 30.0, 0.0, 0, 1, 0, 225.0, 'Borderline high', 150.0, 95.0, 'High BP - Hypertenstion Stage2', 28.58, 'Overweight', 65.0, 103.0, 'pre-diabetes', 1),
 (2, 46, 3.0, 1, 23.0, 0.0, 0, 0, 0, 285.0, 'High', 130.0, 84.0, 'High BP - Hypertenstion Stage1', 23.1, 'Normal ', 85.0, 85.0, 'normal', 0),
 (3, 43, 2.0, 0, 0.0, 0.0, 0, 1, 0, 228.0, 'Borderline high', 180.0, 110.0, 'Hypertensive Crisis', 30.3, 'Obese', 77.0, 99.0, 'normal', 0),
 (4, 63, 1.0, 0, 0.0, 0.0, 0, 0, 0, 205.0, 'Borderline high', 138.0, 71.0, 'High BP - Hypertenstion Stage1', 33.11, 'Obese', 60.0, 85.0, 'normal', 1)]

In [7]:
%%sql
SELECT * from demographics LIMIT 5

 * postgresql://postgres:***@localhost/FHD_Heart_Predictor
5 rows affected.

[(0, 46, 2.0), (1, 61, 3.0), (2, 46, 3.0), (3, 43, 2.0), (4, 63, 1.0)]

In [8]:
%%sql
SELECT * from habits LIMIT 5

 * postgresql://postgres:***@localhost/FHD_Heart_Predictor
5 rows affected.

[(0, 0, 0.0), (1, 1, 30.0), (2, 1, 23.0), (3, 0, 0.0), (4, 0, 0.0)]

In [9]:
%%sql
SELECT * from pre_existing_conditions LIMIT 5

 * postgresql://postgres:***@localhost/FHD_Heart_Predictor
5 rows affected.

[(0, 0.0, 0, 0, 0),
 (1, 0.0, 0, 1, 0),
 (2, 0.0, 0, 0, 0),
 (3, 0.0, 0, 1, 0),
 (4, 0.0, 0, 0, 0)]

In [17]:
%%sql
SELECT * from parameters LIMIT 5

 * postgresql://postgres:***@localhost/FHD_Heart_Predictor
5 rows affected.

[(0, 250.0, 'C', 121.0, 81.0, 'F', 28.73, 'L', 95.0, 76.0, 'N', 0),
 (1, 225.0, 'B', 150.0, 95.0, 'H', 28.58, 'L', 65.0, 103.0, 'O', 1),
 (2, 285.0, 'C', 130.0, 84.0, 'G', 23.1, 'K', 85.0, 85.0, 'N', 0),
 (3, 228.0, 'B', 180.0, 110.0, 'I', 30.3, 'M', 77.0, 99.0, 'N', 0),
 (4, 205.0, 'B', 138.0, 71.0, 'G', 33.11, 'M', 60.0, 85.0, 'N', 1)]

In [11]:
%%sql
SELECT * from bmi

 * postgresql://postgres:***@localhost/FHD_Heart_Predictor
4 rows affected.

[('J', '18.4 and Below', 'Underweight'),
 ('K', '18.5 – 24.9', 'Normal '),
 ('L', '25.0 – 29.9', 'Overweight'),
 ('M', '30.0 and Above', 'Obese')]

In [12]:
%%sql
SELECT * from blood_pressure

 * postgresql://postgres:***@localhost/FHD_Heart_Predictor
6 rows affected.

[('D', 'Low', '90', 'and', 'LESS THAN 60'),
 ('E', 'Normal', 'LESS THAN 120', 'and', 'LESS THAN 80'),
 ('F', 'Elevated', '120 – 129', 'and', 'LESS THAN 80'),
 ('G', 'High BP - Hypertenstion Stage1', '130 – 139', 'or', '80 – 89'),
 ('H', 'High BP - Hypertenstion Stage2', '140', 'or', '90 OR HIGHER'),
 ('I', 'Hypertensive Crisis', 'HIGHER THAN 180', 'and/or', 'HIGHER THAN 120')]

In [18]:
%%sql
SELECT * from glucose_test

 * postgresql://postgres:***@localhost/FHD_Heart_Predictor
3 rows affected.

[('N', '<99 mg/dL', 'normal'),
 ('O', '100-125 mg/dL', 'pre-diabetes'),
 ('P', '>126 mg/dL', 'diabetic')]

In [14]:
%%sql
SELECT * from tot_chol

 * postgresql://postgres:***@localhost/FHD_Heart_Predictor
3 rows affected.

[('A', 'Below 200\xa0mg/dL', 'Below 5.18\xa0mmol/L', 'Desirable'),
 ('B', '200-239\xa0mg/dL', '5.18-6.18\xa0mmol/L', 'Borderline high'),
 ('C', '240\xa0mg/dL\xa0and above', 'Above 6.18\xa0mmol/L', 'High')]