In [1]:
# Importing dependencies
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression

In [2]:
# Reading the cleaned dataset extracted from the database
chd_df = pd.read_csv(Path('ETL/heart_disease_females.csv'))
chd_df.head()

,patient_female_id,age,education,current_smoker,cigs_per_day,bp_meds,prevalent_stroke,prevalent_hyp,diabetes,tot_chol,sys_bp,dia_bp,bmi,heart_rate,glucose,ten_year_chd
0,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
1,1,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
2,2,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
3,3,43,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
4,4,63,1.0,0,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1

# Exploratory Data Analysis

In [3]:
# Getting the number of rows and columns
chd_df.shape

(2034, 16)

In [4]:
# Listing the columns
chd_df.columns

Index(['patient_female_id', 'age', 'education', 'current_smoker',
       'cigs_per_day', 'bp_meds', 'prevalent_stroke', 'prevalent_hyp',
       'diabetes', 'tot_chol', 'sys_bp', 'dia_bp', 'bmi', 'heart_rate',
       'glucose', 'ten_year_chd'],
      dtype='object')

In [6]:
# Check the Datatypes
chd_df.dtypes

patient_female_id      int64
age                    int64
education            float64
current_smoker         int64
cigs_per_day         float64
bp_meds              float64
prevalent_stroke       int64
prevalent_hyp          int64
diabetes               int64
tot_chol             float64
sys_bp               float64
dia_bp               float64
bmi                  float64
heart_rate           float64
glucose              float64
ten_year_chd           int64
dtype: object

In [7]:
#Finding the number of unique values in each column
chd_df.nunique()

patient_female_id    2034
age                    39
education               4
current_smoker          2
cigs_per_day           25
bp_meds                 2
prevalent_stroke        2
prevalent_hyp           2
diabetes                2
tot_chol              223
sys_bp                220
dia_bp                131
bmi                   986
heart_rate             67
glucose               111
ten_year_chd            2
dtype: int64

In [12]:
# Getting the count of values in different columns
print(chd_df["education"].value_counts())
print(chd_df["current_smoker"].value_counts())
print(chd_df["bp_meds"].value_counts())
print(chd_df["prevalent_stroke"].value_counts())
print(chd_df["prevalent_hyp"].value_counts())
print(chd_df["diabetes"].value_counts())
print(chd_df["ten_year_chd"].value_counts())

1.0    815
2.0    650
3.0    397
4.0    172
Name: education, dtype: int64
0    1227
1     807
Name: current_smoker, dtype: int64
0.0    1956
1.0      78
Name: bp_meds, dtype: int64
0    2022
1      12
Name: prevalent_stroke, dtype: int64
0    1401
1     633
Name: prevalent_hyp, dtype: int64
0    1983
1      51
Name: diabetes, dtype: int64
0    1784
1     250
Name: ten_year_chd, dtype: int64