In [5]:
import pandas as pd

In [2]:
# load Vehicle_Count Dataset
reading_df = pd.read_csv("../Resources/vehicle-count-as-of-1-1-2020.csv")
reading_df

C:\Users\dixie\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

            Date Zip Code Model Year      Fuel   Make   Duty  Vehicles
0       1/1/2020    90001       2007  Gasoline  ACURA  Light        15
1       1/1/2020    90002       2007  Gasoline  ACURA  Light        20
2       1/1/2020    90003       2007  Gasoline  ACURA  Light        29
3       1/1/2020    90004       2007  Gasoline  ACURA  Light        19
4       1/1/2020    90006       2007  Gasoline  ACURA  Light        15
...          ...      ...        ...       ...    ...    ...       ...
602389  1/1/2020      OOS        Unk  Gasoline    Unk  Heavy        98
602390  1/1/2020    90012        Unk  Gasoline    Unk  Light        12
602391  1/1/2020    93065        Unk  Gasoline    Unk  Light        11
602392  1/1/2020    95762        Unk  Gasoline    Unk  Light        12
602393  1/1/2020      OOS        Unk  Gasoline    Unk  Light        52

[602394 rows x 7 columns]

In [6]:
# Columns
reading_df.columns

Index(['Date', 'Zip Code', 'Model Year', 'Fuel', 'Make', 'Duty', 'Vehicles'], dtype='object')

In [7]:
# list dataframe data types
reading_df.dtypes

Date          object
Zip Code      object
Model Year    object
Fuel          object
Make          object
Duty          object
Vehicles       int64
dtype: object